<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Stat Tracker</title>
</head>
<body>
    <header id="header">

    </header>
    <h1 id="h1">NBA Stat Tracking</h1>
    <section id="data-display-section" class="data-display">
       <h2 id="data-display-heading" class="data-display">Current:</h2>
        <section id="inner-data-display-section" class="data-display">
        </section>
    </section> 
</body>
</html>